<a href="https://colab.research.google.com/github/StevenPeutz/Disinformation-NLP/blob/master/Friedman%26Nemenyi_posthoc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This Notebook was purely used for statistical testing.  

Based on the Friedman test results both 0 hypotheses (no difference in embeddings and no differences in algortithms in sensitivity to MT induced noise) were rejected.  
Nemenyi post-hoc tests were performed to pinpoint which embeddings actually differed from each other, and the same was done for the algortihms.  

\\

*More details about the design be found on this repo's readme here: [README](https://github.com/StevenPeutz/Disinformation-NLP/blob/master/README.md) , and the main code can be found here: [MAIN](https://github.com/StevenPeutz/Disinformation-NLP/blob/master/MAIN.ipynb).*

\\

---


*(No manual correction for multiple comparisons was performed, as this correction is built in to the Nemenyi test itself)*.

# imports & data

In [ ]:
from scipy import stats

In [ ]:
pip install scikit-posthocs

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-posthocs
  Downloading scikit_posthocs-0.7.0-py3-none-any.whl (38 kB)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.9/dist-packages (from scikit-posthocs) (3.7.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.9/dist-packages (from scikit-posthocs) (1.10.1)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.9/dist-packages (from scikit-posthocs) (1.4.4)
Requirement already satisfied: seaborn in /usr/local/lib/python3.9/dist-packages (from scikit-posthocs) (0.12.2)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.9/dist-packages (from scikit-posthocs) (0.13.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from scikit-posthocs) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.20.0->scikit-posthocs) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.20.0->scikit-posthocs) (2022.7.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->scikit-posthocs) (8.4.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->scikit-posthocs) (23.0)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->scikit-posthocs) (5.12.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->scikit-posthocs) (1.0.7)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->scikit-posthocs) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->scikit-posthocs) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib->scikit-posthocs) (0.11.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->scikit-posthocs) (3.0.9)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.9/dist-packages (from statsmodels->scikit-posthocs) (0.5.3)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from importlib-resources>=3.2.0->matplotlib->scikit-posthocs) (3.15.0)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.2->statsmodels->scikit-posthocs) (1.16.0)
Installing collected packages: scikit-posthocs
Successfully installed scikit-posthocs-0.7.0

In [ ]:
import scikit_posthocs as sp
import numpy as np

In [ ]:
data_bow = [-0.4189071632,	-0.2826967514,	-0.380909338,	-0.4254315618,	-0.2441824113,	-0.4881337502,	-0.448769879]
data_hv = [-0.2871075167,	-0.3275927688,	-0.2952222373,	-0.4369104254,	-0.1747587332,	-0.4403901047,	-0.4123963572]
data_tfidf = [-0.3142041593,	-0.3157469077,	-0.23889493,	-0.23331521,	-0.1966698382,	-0.4413415794,	-0.4397036836]
data_glove = [-0.2674255811,	-0.136461873,	-0.3638575506,	-0.1433940465,	-0.1765393503,	-0.396690227,	-0.3624643197]
data_w2v = [-0.3547981514,	-0.2057768112,	-0.4155498165,	-0.4408862308,	-0.3311185299,	-0.4372706266,	-0.4555593312]
data_ft = [-0.2683498709,	-0.1431018078,	-0.457740927,	-0.3350754384,	-0.1663245888,	-0.3973018894,	-0.4080059807]

In [ ]:
data_lr = [-0.4189071632, -0.2871075167, -0.3142041593, -0.2674255811, -0.3547981514, -0.2683498709]
data_nb = [-0.2826967514, -0.3275927688, -0.3157469077, -0.136461873, -0.2057768112, -0.1431018078]
data_rf = [-0.380909338, -0.2952222373, -0.23889493, -0.3638575506, -0.4155498165, -0.457740927]
data_svm = [-0.4254315618, -0.4369104254, -0.23331521, -0.1433940465, -0.4408862308, -0.3350754384]
data_knn = [-0.2441824113, -0.1747587332, -0.1966698382, -0.1765393503, -0.3311185299, -0.1663245888] #better to remove...
data_gb = [-0.4881337502, -0.4403901047, -0.4413415794, -0.396690227, -0.4372706266, -0.3973018894]
data_xgb = [-0.448769879, -0.4123963572, -0.4397036836, -0.3624643197, -0.4555593312, -0.4080059807]

# Friedman tests (algs & embeds)

In [ ]:
#friedman test algs
stats.friedmanchisquare(data_lr, data_nb, data_rf, data_svm, data_knn, data_gb, data_xgb)

FriedmanchisquareResult(statistic=22.64285714285714, pvalue=0.0009253572439938812)

In [ ]:
#friedman test embeddings
stats.friedmanchisquare(data_bow, data_hv, data_tfidf, data_glove, data_w2v, data_ft)
#pvalue=0.0054 , when running withhout the knn mesurements, it is still significant (at pvalue=0.0133)

FriedmanchisquareResult(statistic=16.551020408163254, pvalue=0.005434919568444134)

# posthoc -> algorithms

In [ ]:
#post hoc algs

#combine three groups into one array
data_algs = np.array([data_lr, data_nb, data_rf, data_svm, data_knn, data_gb, data_xgb])

#perform Nemenyi post-hoc test
sp.posthoc_nemenyi_friedman(data_algs.T)

# 1 vs 5: naive bayes vs gradient boosting
# 4 vs 5: knn vs vs gradient boosting
# 4 vs 6: knn vs xgb

          0         1         2         3         4         5         6
0  1.000000  0.900000  0.900000  0.900000  0.813735  0.195975  0.413910
1  0.900000  1.000000  0.656580  0.735155  0.900000  0.022747  0.074557
2  0.900000  0.656580  1.000000  0.900000  0.330001  0.656580  0.892309
3  0.900000  0.735155  0.900000  1.000000  0.413910  0.578001  0.813735
4  0.813735  0.900000  0.330001  0.413910  1.000000  0.003459  0.014666
5  0.195975  0.022747  0.656580  0.578001  0.003459  1.000000  0.900000
6  0.413910  0.074557  0.892309  0.813735  0.014666  0.900000  1.000000

In [ ]:
#post hoc algs (no knn)


#combine three groups into one array
data_algs_noknn = np.array([data_lr, data_nb, data_rf, data_svm, data_gb, data_xgb])

#perform Nemenyi post-hoc test
sp.posthoc_nemenyi_friedman(data_algs_noknn.T)

# 1 vs 4: naive bayes vs gradient boosting

          0         1         2         3         4         5
0  1.000000  0.900000  0.900000  0.900000  0.061196  0.187873
1  0.900000  1.000000  0.706891  0.706891  0.015147  0.061196
2  0.900000  0.706891  1.000000  0.900000  0.434430  0.706891
3  0.900000  0.706891  0.900000  1.000000  0.434430  0.706891
4  0.061196  0.015147  0.434430  0.434430  1.000000  0.900000
5  0.187873  0.061196  0.706891  0.706891  0.900000  1.000000

In [ ]:
#Dunn's test algs (no knn)
'''
sp.posthoc_dunn(data_algs_noknn, p_adjust = 'bonferroni')

#2 vs 5: naive bayes vs gradient boosting
#2 vs 6: naive bayes vs xgb
'''

          1         2         3    4         5         6
1  1.000000  1.000000  1.000000  1.0  0.221173  0.425707
2  1.000000  1.000000  0.826688  1.0  0.010198  0.024408
3  1.000000  0.826688  1.000000  1.0  1.000000  1.000000
4  1.000000  1.000000  1.000000  1.0  1.000000  1.000000
5  0.221173  0.010198  1.000000  1.0  1.000000  1.000000
6  0.425707  0.024408  1.000000  1.0  1.000000  1.000000

# posthoc -> embeddings

In [ ]:
#post hoc embeddings
#data_bow, data_hv, data_tfidf, data_glove, data_w2v, data_ft

#combine three groups into one array
data_embeds = np.array([data_bow, data_hv, data_tfidf, data_glove, data_w2v, data_ft])

#perform Nemenyi post-hoc test
sp.posthoc_nemenyi_friedman(data_embeds.T)

#0 vs 3: bow vs glove
#3 vs 4: glove vs w2v

          0         1         2         3         4         5
0  1.000000  0.766391  0.766391  0.013029  0.900000  0.199692
1  0.766391  1.000000  0.900000  0.342386  0.766391  0.900000
2  0.766391  0.900000  1.000000  0.342386  0.766391  0.900000
3  0.013029  0.342386  0.342386  1.000000  0.013029  0.900000
4  0.900000  0.766391  0.766391  0.013029  1.000000  0.199692
5  0.199692  0.900000  0.900000  0.900000  0.199692  1.000000

In [ ]:
#Dunn's test embeds
'''
sp.posthoc_dunn(data_embeds, p_adjust = 'bonferroni')

#none
'''

          1    2    3         4         5    6
1  1.000000  1.0  1.0  0.465359  1.000000  1.0
2  1.000000  1.0  1.0  1.000000  1.000000  1.0
3  1.000000  1.0  1.0  1.000000  1.000000  1.0
4  0.465359  1.0  1.0  1.000000  0.547371  1.0
5  1.000000  1.0  1.0  0.547371  1.000000  1.0
6  1.000000  1.0  1.0  1.000000  1.000000  1.0

Extra checks: Embeds without knn measurements

In [ ]:
'''
data_bow_noknn = [-0.4189071632,	-0.2826967514,	-0.380909338,	-0.4254315618,	-0.4881337502,	-0.448769879]
data_hv_noknn = [-0.2871075167,	-0.3275927688,	-0.2952222373,	-0.4369104254,	-0.4403901047,	-0.4123963572]
data_tfidf_noknn = [-0.3142041593,	-0.3157469077,	-0.23889493,	-0.23331521,	-0.4413415794,	-0.4397036836]
data_glove_noknn = [-0.2674255811,	-0.136461873,	-0.3638575506,	-0.1433940465,	-0.396690227,	-0.3624643197]
data_w2v_noknn = [-0.3547981514,	-0.2057768112,	-0.4155498165,	-0.4408862308,	-0.4372706266,	-0.4555593312]
data_ft_noknn = [-0.2683498709,	-0.1431018078,	-0.457740927,	-0.3350754384,	-0.3973018894,	-0.4080059807]
'''

In [ ]:
#friedman test embeddings
'''
stats.friedmanchisquare(data_bow_noknn, data_hv_noknn, data_tfidf_noknn, data_glove_noknn, data_w2v_noknn, data_ft_noknn)
'''

FriedmanchisquareResult(statistic=14.38095238095238, pvalue=0.013362324261432653)

In [ ]:
#post hoc embeddings
#data_bow, data_hv, data_tfidf, data_glove, data_w2v, data_ft
'''
#combine three groups into one array
data_embeds_noknn = np.array([data_bow_noknn, data_hv_noknn, data_tfidf_noknn, data_glove_noknn, data_w2v_noknn, data_ft_noknn])

#perform Nemenyi post-hoc test
sp.posthoc_nemenyi_friedman(data_embeds_noknn.T)

#0 vs 3: bow vs glove
#3 vs 4: glove vs w2v
'''

          0         1         2         3         4         5
0  1.000000  0.900000  0.796011  0.015147  0.900000  0.434430
1  0.900000  1.000000  0.900000  0.187873  0.900000  0.900000
2  0.796011  0.900000  1.000000  0.338882  0.885131  0.900000
3  0.015147  0.187873  0.338882  1.000000  0.024807  0.706891
4  0.900000  0.900000  0.885131  0.024807  1.000000  0.528649
5  0.434430  0.900000  0.900000  0.706891  0.528649  1.000000